html, body{
	background: #E6E6E6;
}

header{
	text-align: center;
	margin-top: 30px;
}

.custom-container{
	max-width: 480px;
}

table{
	margin-bottom: 0px !important;
}

table > thead {
	cursor: pointer;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	-webkit-user-select: none; /* Chrome/Safari */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */
}

table > thead:hover {
	background-color: #DEDEDE;
}

table > tbody{
	-webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

tbody{
	-webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

/**
*
* Tabs/navigation Style
*
**/
div.nav-center{
/*	text-align: center;*/
	margin-top: 30px;
}

div.nav-center > ul.nav-main{
/*	display: inline-block;*/
	border-bottom: 6px solid #CCCCCC;
}

.navbar {
	background: black;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	margin-top: 10px;
	text-align: center;
}

.navbar ul.nav{
	width: 100%;
}

.navbar ul.nav li {
	width: 50%;
	border-bottom: 2px solid black;
}

.navbar ul.nav li:hover{
	border-bottom: 2px solid white;
}

.navbar ul.nav li a{
	color: white;
}

.navbar ul.nav li a:hover{
	background: black;
	color: white;
}

.navbar ul.nav li a:focus{
	background: black;
	color: white;
}


/*div.nav-center > ul.nav-main > li{
	display: inline;
}*/

.collapsable{
	cursor: pointer;
	color: #262626;
}

.collapsable:hover{
	color: #3c3c3c;
}

label{
	display: block;
	margin-bottom: 0px;
	padding: 5px 0px;
	cursor: pointer;
}

input + label{
	background: #a73838;
	color: #E6E6E6;
	-webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

input:checked + label{
	background: #38a75a;
}