html, body{
	background: #E6E6E6;
}

header{
	text-align: center;
	margin-top: 30px;
}

.custom-container{
	max-width: 480px;
}

table{
	margin-bottom: 0px !important;
}

/**
*
* Tabs/navigation Style
*
**/
div.nav-center{
/*	text-align: center;*/
	margin-top: 30px;
}

div.nav-center > ul.nav-main{
/*	display: inline-block;*/
	border-bottom: 6px solid #CCCCCC;
}

/*div.nav-center > ul.nav-main > li{
	display: inline;
}*/

.collapsable{
	cursor: pointer;
	color: #262626;
}

.collapsable:hover{
	color: #3c3c3c;
}

ul.nav-main > li > a{
	border-radius: 0;
	background: #262626;
	border: 0;
	float: left;
	margin-right: 0;
	color: white;
	width: 150px;
}

ul.nav-main > li > a:hover, ul.nav-main > li > a:focus{
	border: 0;
	background: #3c3c3c;
}

ul.nav-main > li.active > a, ul.nav-main > li.active > a:hover, ul.nav-main > li.active > a:focus{
	border: 0;
	background: #3c3c3c;
	cursor: pointer;
	color: white;
}

label{
	display: block;
	margin-bottom: 0px;
	padding: 5px 0px;
	cursor: pointer;
}

input + label{
	background: #a73838;
}

input:checked + label{
	background: #38a75a;
}