<a ui-sref="games" class="glyphicon glyphicon-chevron-left pull-left back-button">&#60;</a>

<section>
    <ul class="games-list">
        <li>
            <a ui-sref="streams({ gameKey: game.gameKey })">Streams</a>
        </li>
        <li ng-repeat="(key, value) in game.links">
            <a ui-sref="page({ gameKey: game.gameKey, pageKey: value })">{{ value }}</a>
        </li>
        <li ng-repeat="(key, value) in pages">
        	<a ui-sref="{{value.pageHref}}">{{value.pageTitle}}</a>
        </li>
    </ul>
</section>